<div class="container row">
  <ul *ngIf="blogObservable | async as posts else empty">
    <li *ngFor="let post of posts">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </li>
  </ul>
  <ng-template #empty>Loading Posts on Blog...</ng-template>

</div>
