<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/signin" (click)="onSidenavClose()">
    <mat-icon>input</mat-icon> <span class="nav-caption">Sign In</span>
  </a>
  <a mat-list-item routerLink="/blog" (click)="onSidenavClose()">
    <mat-icon>library_books</mat-icon> <span class="nav-caption">Blog</span>
  </a>
  <a mat-list-item routerLink="/todo" (click)="onSidenavClose()">
    <mat-icon>playlist_add_check</mat-icon><span class="nav-caption">TODO List</span>
  </a>
  <a mat-list-item routerLink="/album" (click)="onSidenavClose()">
    <mat-icon>collections</mat-icon><span class="nav-caption">Album</span>
  </a>
  <a mat-list-item routerLink="/logout" (click)="onSidenavClose()">
    <mat-icon>power_off</mat-icon><span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
